/* CSS Document */



body {

	margin: auto;

	height: 500px;

	padding: 20px;

}



#header {

	width: 700px;

	color: black;

	font-size: 32px;

	padding: 10px 10px 10px 0px;

	margin-bottom: 15px;

	border-bottom: 2px blue;

}



#footer {

	border-top: 2px blue;

	margin-top: 20px;

	color: black;

	padding-top: 10px;	

}